body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.container {
  width: 100%
  height: 75%
  background: url("./Bitmap.jpg");
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.central_box {
  display: flex;
  flex-direction: column;
  width: 305px;
  padding: 60px;
  background: rgba(0, 0, 0, 0.700);
  border-radius: 5px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.central_box h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 3 0px;
  font-weight: 200;
}

.central_box input {
  width: 90px;
  height: 49px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 0 0 0 20px;
  outline: none;
  background: #fff;
  border: none;
}

.central_box button  {
  width: 90px;
  height: 49px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #fff;
  padding: 0 0 0 20px;
  outline: none;
  background: #0578ff;
  border: none;
}

.central_box label {
  color: #fff
  margin-top: 0;
  margin-bottom: 20px;
}
.login_options input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ayuda {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

.fb_logo {
height: 20px;
width: 20px;
}

.facebook {
align-items: center;
margin-bottom: 20px;
color: #fff;
justify-content: space-between
}
