body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.back{
  width: 100%;
  background: url("./Bitmap.jpg") no-repeat center;
  background-size: cover;
}

.logo {
padding-left: 7%;
padding-top: 6%;
padding-right: 65%;
}

.register {
color: #fff;
margin-right: 42px;
}  

.login {
  height: 34px;
  width: 115px;
  box-sizing: border-box;
  font-size: 15px;
  color: #fff;
  background: #0578ff;
  outline: none;
  border: none;
}


.central_box {
  margin: 10% 35% 0 35%;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 517px;
  background: rgba(0, 0, 0, 0.700);
}

.central_box h1 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-top: 50px;
  font-weight: 200;
}

.central_box input {
  height: 49px;
  width: 341px;
  box-sizing: border-box;
  font-size: 14px;
  background: #fff;
  border: none;
}

.userinput {
  margin: 20px 49px 17px 50px;
}

.passwordinput {
  margin: 0 49px 45px 50px;
}

.central_box button  {
  height: 47px;
  width: 341px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin: 0 49px 15px 50px;
  outline: none;
  background: #0578ff;
  border: none;
}

.login_options{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 }

.remember{
  color: #fff;
}

.ayuda {
  color: #fff;
  justify-content: flex-end;
}

.facebook {
display: flex;
justify-content: center;
margin-bottom: 40px;
}

.fb_logo {
height: 20px;
width: 20px; 
margin-right: 11px;
}

.fb_text {
color: #fff;
}

.first_time {
color: #fff;
display: flex;
justify-content: center;
}

.suscribe {
color: #fff;
margin-left: 5px; 
}

footer {
  background: rgb(0,0,0);
  display: flex;
  flex-direction: column;
}  

.questions {
 margin-top: 10%;
 margin-left: 10%;
 color: #fff;
  font-size: 36px;
  font-weight: 200;
}

.tabla {
  width: 100%;
  margin: 52px 10% 100px 7%;
  column-count: 4;
 }

li {
  padding-top: 10px;
  list-style-type: none;
 }  

li a{
  color: #fff;
 }  

a {
  text-decoration: none;
 }  
